VfsInformationCustomerService 2010/CustomerServices/Business/Web References/MTSpam/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="doSendSim">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="TypeURL" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="doSendSimResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="doSendSimResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="doSendServiceID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServiceID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="TypeURL" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="doSendServiceIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="doSendServiceIDResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="doSendBrand">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Brand" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="TypeURL" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="RealTime" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="doSendBrandResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="doSendBrandResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="doSendSimSoapIn">
    <wsdl:part name="parameters" element="tns:doSendSim" />
  </wsdl:message>
  <wsdl:message name="doSendSimSoapOut">
    <wsdl:part name="parameters" element="tns:doSendSimResponse" />
  </wsdl:message>
  <wsdl:message name="doSendServiceIDSoapIn">
    <wsdl:part name="parameters" element="tns:doSendServiceID" />
  </wsdl:message>
  <wsdl:message name="doSendServiceIDSoapOut">
    <wsdl:part name="parameters" element="tns:doSendServiceIDResponse" />
  </wsdl:message>
  <wsdl:message name="doSendBrandSoapIn">
    <wsdl:part name="parameters" element="tns:doSendBrand" />
  </wsdl:message>
  <wsdl:message name="doSendBrandSoapOut">
    <wsdl:part name="parameters" element="tns:doSendBrandResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="doSendSim">
      <wsdl:input message="tns:doSendSimSoapIn" />
      <wsdl:output message="tns:doSendSimSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="doSendServiceID">
      <wsdl:input message="tns:doSendServiceIDSoapIn" />
      <wsdl:output message="tns:doSendServiceIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="doSendBrand">
      <wsdl:input message="tns:doSendBrandSoapIn" />
      <wsdl:output message="tns:doSendBrandSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="doSendSim">
      <soap:operation soapAction="http://tempuri.org/doSendSim" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doSendServiceID">
      <soap:operation soapAction="http://tempuri.org/doSendServiceID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doSendBrand">
      <soap:operation soapAction="http://tempuri.org/doSendBrand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="doSendSim">
      <soap12:operation soapAction="http://tempuri.org/doSendSim" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doSendServiceID">
      <soap12:operation soapAction="http://tempuri.org/doSendServiceID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doSendBrand">
      <soap12:operation soapAction="http://tempuri.org/doSendBrand" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://gws.netgo.vn/service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://gws.netgo.vn/service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>