VfsInformationCustomerService 2010/UnitTestApplication/Web References/localhosttest/MOReceiver.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="messageReceiver">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ServiceID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CommandCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RequestID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MoID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="messageReceiverResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="messageReceiverResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="messageReceiverSoapIn">
    <wsdl:part name="parameters" element="tns:messageReceiver" />
  </wsdl:message>
  <wsdl:message name="messageReceiverSoapOut">
    <wsdl:part name="parameters" element="tns:messageReceiverResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="messageReceiverHttpGetIn">
    <wsdl:part name="UserID" type="s:string" />
    <wsdl:part name="ServiceID" type="s:string" />
    <wsdl:part name="CommandCode" type="s:string" />
    <wsdl:part name="Message" type="s:string" />
    <wsdl:part name="RequestID" type="s:string" />
    <wsdl:part name="MoID" type="s:string" />
    <wsdl:part name="Username" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="messageReceiverHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="messageReceiverHttpPostIn">
    <wsdl:part name="UserID" type="s:string" />
    <wsdl:part name="ServiceID" type="s:string" />
    <wsdl:part name="CommandCode" type="s:string" />
    <wsdl:part name="Message" type="s:string" />
    <wsdl:part name="RequestID" type="s:string" />
    <wsdl:part name="MoID" type="s:string" />
    <wsdl:part name="Username" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="messageReceiverHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="MOReceiverSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="messageReceiver">
      <wsdl:input message="tns:messageReceiverSoapIn" />
      <wsdl:output message="tns:messageReceiverSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MOReceiverHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="messageReceiver">
      <wsdl:input message="tns:messageReceiverHttpGetIn" />
      <wsdl:output message="tns:messageReceiverHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="MOReceiverHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="messageReceiver">
      <wsdl:input message="tns:messageReceiverHttpPostIn" />
      <wsdl:output message="tns:messageReceiverHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MOReceiverSoap" type="tns:MOReceiverSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="messageReceiver">
      <soap:operation soapAction="http://tempuri.org/messageReceiver" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MOReceiverSoap12" type="tns:MOReceiverSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="messageReceiver">
      <soap12:operation soapAction="http://tempuri.org/messageReceiver" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MOReceiverHttpGet" type="tns:MOReceiverHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="messageReceiver">
      <http:operation location="/messageReceiver" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MOReceiverHttpPost" type="tns:MOReceiverHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="messageReceiver">
      <http:operation location="/messageReceiver" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MOReceiver">
    <wsdl:port name="MOReceiverSoap" binding="tns:MOReceiverSoap">
      <soap:address location="http://localhost:9963/SmsService/MOReceiver.asmx" />
    </wsdl:port>
    <wsdl:port name="MOReceiverSoap12" binding="tns:MOReceiverSoap12">
      <soap12:address location="http://localhost:9963/SmsService/MOReceiver.asmx" />
    </wsdl:port>
    <wsdl:port name="MOReceiverHttpGet" binding="tns:MOReceiverHttpGet">
      <http:address location="http://localhost:9963/SmsService/MOReceiver.asmx" />
    </wsdl:port>
    <wsdl:port name="MOReceiverHttpPost" binding="tns:MOReceiverHttpPost">
      <http:address location="http://localhost:9963/SmsService/MOReceiver.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>